%html
  %head
    %link(rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css")
    %link(rel="stylesheet" href="vendor/font-awesome/css/font-awesome.css")
    %link(rel="stylesheet" href="output-styles.css")

    %script(src="vendor/jquery-2.1.0.min.js")
    %script(src="vendor/bootstrap/js/bootstrap.js")
  %body
    %nav.navbar.navbar-default
      .container
        %a.navbar-brand
          iHeartPSD

    .container
      =yield

    %footer.container
      coded with <i class="fa fa-heart-o"></i> &nbsp; - &nbsp; Chris, Josh, Ren  