%div.jumbotron
  %h1 Choose a PSD
  %form(method="post" enctype='multipart/form-data')   
    %input.file(type='file' name='myfile')    
    %div.controls
      %button.btn.btn-danger.btn-lg(type='submit')
        Upload
        %i.fa.fa-upload

  



