body {
  background-color: #282828;
  font-size: 16px;
}

#output {
  background-color: #FFF;
  margin: 40px auto;
}


.title {
  width: 1024px;
  margin: 40px auto;
  color: #bbb;
}


h1 {
  font-family: Gotham, "helvetica neue";
  font-size: 2em;
}

h1 .glyphicon {
  color: #bbb;
}

.page {
  position: relative;
}

.layer {
  position: absolute;
}

.text {
  cursor: pointer;
  border: 2px dashed rgba(0, 0, 0, 0);
  border-radius: 3px;
}

.text:hover {
  background-color: #eee;
  border: 2px dashed #c00;
}

.box {
    background-color: #803528;
}